:root {
    --red: #e80d0d;
    --orange: #f98500;
    --dark-violet: #C096C;
    --aqua: #56CFE1;
    --light-periwinkle: #5390D9;
    --blue: #031BFE;
    --periwinkle: #5E60CE;
    --purple: #6930C3;
    --brown: #6d6656;
    --grey: #53565a;
    --black: #272727;
    
    --font-one: "Courgette', cursive";
    --font-two: "Poppins', sans-serif";
    --font-three: "vogue";
}

@font-face{
    font-family: "vogue";
    src: url("../assets/img/Vogue.ttf");
    font-weight: bolder;
}