#aboutMe{
    /* background: var(--blue-grey); */
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: var(--font-two);
    color: white;
    background: black;
}

.me{
    max-height: 300px;
    max-width: 250px;
    border-radius: 50%;
}

#about{
    font-family: var(--font-one);
}

.col-3{
    max-width: 30%;
    max-height: 30%;
}