#contact{
    background: url("../assets/raychan-h1HkdPhb8Gg-unsplash.jpg");
    background-size: 100%;
    height: 55vh;
    padding-bottom: 3em;
    font-family: var(--font-one);
}

#contactMeh2{
    color:blanchedalmond;
    /* font: var(--font-two); */
    text-align: center;
    align-content: center;
    padding-top: 25px;
    padding-bottom: 5px;
}

.inputs{
    display: grid;
    grid-template-columns: 100%;    
}

#nameLabel{
    /* margin: 10px; */
    padding: 5px;
    font: var(--font-two);

}

 #full-name {
   margin: 5px;
   width: 30%;
   background-color: #D0D0D0;
   
}

#emailLabel{
    padding: 5px;
    /* margin: 10px; */
}

#email-address{
    margin: 5px;
    width: 30%;
    background-color: #D0D0D0;
}

#messageLabel{
    margin: 5px;
    /* width: 50%; */
    /* width: 30%; */
} 

textarea{
    border: 10px thin black;
    margin: 5px;
    overflow-y: auto;
    padding: 0;
    outline: none;
    background-color: #D0D0D0;
    resize: horizontal;
}

#submitBtn{
    margin: 10px;
}

#message{
    width: 50%;
    background-color: #D0D0D0;
}