.footer{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
    
}

#myName{
    font: var(--font-one);
}

#gitHub:hover{
     background-color:#e9c46a;
     border-radius: 40px;
}

#linkedIn:hover{
    background-color: #e9c46a;
    border-radius: 5px;
}

