.footer{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#myName{
    font: var(--font-one);
}

.icons{
    display: flex;
    align-items: flex-start;
    padding: 7px;
    box-sizing: border-box;
}

#gitHub:hover{
     background-color:#03045e;
     border-radius: 65px 65px;
}

#linkedIn:hover{
    background-color: #03045e;
    border-radius: 5px;
}

#gitHub{
    font-size: 60px;
}

