.landing {
    background-size: cover;
    height: 0vh;
    color: var(--black);
    font-weight: bold;
}

#headerText{
    
    text-shadow: 2px 2px var(--white);
   
}

h1{
    position: sticky;
    text-align: center;
    align-content: center;
    padding: 25px;
    
}

h3{
    position: sticky;
    text-shadow: 2px 2px var(--white);
    text-align: right;
    align-content: center;
}

#quote{
    align-content: center;
    height: 500px;
   
}
