.navbar-brand{
    font-family: var(--font-one);
    font-size: 24pt;
    background-color: var(--periwinkle);
}

.nav-link{
    color: var(--grey);
    
}

.navbar-light{
    background: var(--periwinkle);
}