#projects_header{
    padding: 25px;
    font-family: var(--font-one);
    color: white;
    background: black;
}

.myRow{
    display: flex;
    margin: 20px 150px;
    
    
}

.projectCardsRow1{
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    /* justify-content: center;  */
    align-items: flex-start;
}

.rone{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start;
    font: var(--font-two);
    padding: 10px;
} 

.rtwo{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start;
    font: var(--font-two);
    padding-top: 10px;
    padding-bottom: 35px;
} 

.card{
    /* min-height: 375px; */
    max-height: 375px;
    background: #9ba9ff;
    font: var(--font-two);
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
    position: relative;
    transition: .3s;
    /* min-width: 280px;
    max-width: 280px; */
}

.card .card-text,
.card:after{
    position: absolute;
    left: 20px;
    right: 20px;
}

.card:after{
    content: '';
    display: block;
    background: #7400b8;
    top: 20px;
    bottom: 20px;
    opacity:0;
    transform: rotate3d(-1,1,0,100deg);
    transition: .4s;
}

.card:hover:after{
    opacity: .9;
    transform: rotate3d(0,0,0,0deg);
}

.card-text{
    top: 45%;
    opacity: 0;
    z-index: 1;
    transform: translate(10%, -30%);
    transition: .3s;
    text-align: center;
    color: #fff;
}

.card-text{
    font-family: var(--font-one)
}

.card:hover .card-text{
    opacity: 1;
    transform: translate(0, -50%);
    transition-delay: .3s
}

 .card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover; 
}

.card-body{
    font: var(--font-two);
}

#row1{
    /* background: var(--periwinkle); */
    background: black;
    font: var(--font-two);
} 

.arrow-up{
    display: flex;
    justify-content: center;
    /* padding-right: 50px; */
    padding-top: 25px;
}

#upArrow:hover{
    background-color: #03045e;
    border-radius: 50%;
}

/* .card:hover{

} */


/* #projectCardsRow2{
    height: 450vh; 

} 
*/